<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a
        class="text-dark" target="_blank"
        href="https://www.facebook.com/abdullah.rafique.5891?mibextid=ZbWKwL"
        ><i class="bi bi-facebook"></i
      ></a>
      <a
        class="text-dark" target="_blank"
        href="https://www.instagram.com/i._.4bdull4h?igsh=OHpxeHZ1dHQxOTls
      "
        ><i class="bi bi-instagram"></i
      ></a>
      <a
        class="text-dark" target="_blank"
        href="https://x.com/M_Abdullah419?t=pPA8rSfnOagO2rf6i6RZyg&s=09"
        ><i class="bi bi-twitter-x"></i
      ></a>
      <a class="text-dark" target="_blank" href="https://wa.link/23a6xv"
        ><i class="bi bi-whatsapp"></i
      ></a>
    </div>
    <div>&copy; WanderLust Private Limites</div>
    <div class="f-info-links">
      <a href="">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
